
<div class="animated fadeIn" id="exportthis"> 
  <app-alert></app-alert> 
   <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Services
        </div>
        
        <div class="card-body">
            <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <div class="input-group-append">
                 <input type="text" class="form-control" name="filterPost" placeholder="Search..." [(ngModel)]= "filterPost">              
                  <button class="btn btn-primary" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </div>                                   
      
            </div>
          </div>
          <div class="col-lg-12">
            <button mat-raised-button class="btn btn-primary float-right" style="width:100px" (click)="openCrear()"> Add Service</button>
          </div>  
        </div>    
        <div class="card-body">  
          <p *ngIf = "!(servicios && servicios.length)">
            There is no data to display
            </p>   
        <div class="table-responsive">
          
          <table class="table table-bordered" *ngIf = "servicios && servicios.length">
            <thead>
              <tr>
                <th>Clients</th>
                <th>Address</th>
                <th>Net Expenses</th>
                <th>Subtotal</th> 
                <th>WorForce</th>
                <th>30%</th>  
                <th>Total price</th>    
                <th>Earnings</th>             
                <th>State</th>
                <th>Date</th>
                <th></th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let servicio of servicios | filerServicios:filterPost | paginate: { itemsPerPage: 10, currentPage: p}">
              <td id ="nombre">{{servicio.clientes.nombre}}</td>                
              <td id ="addrees">{{servicio.clientes.address}}</td> 
              <td >{{servicio.gastosNetos}}</td>  
              <td id="subtotal">{{servicio.subtotal}}</td>  
              <td id="manobra">{{servicio.manobra}}</td>  
              <td id="tiosan">{{servicio.tiosan}}</td>         
              <td id="totales">{{servicio.total}}</td>
              <td >{{servicio.ganancias}}</td>    
              <td id="estado">{{servicio.estados.nombre}}</td>  
              <td id="date">{{servicio.date |date}}</td>               
              <td style="display:none;" id ="telefono">{{servicio.clientes.telefono}}</td>
              <td style="display:none;" id ="zipCode">{{servicio.clientes.zipCode}}</td>
              <td style="display:none;" id ="email">{{servicio.clientes.email}}</td>
              <td style="display:none;" id ="nota">{{servicio.nota}}</td>
           
            
                                   
              <td>
                <button class="btn btn-success" (click)="deleteServicio(servicio)" > Delete</button>
                <button class="btn btn-danger" (click)="openEdit(servicio.id)"> Edit</button>
                <button class="btn btn-info active" (click)="openPDF(servicio)"> Imprimir</button>
                <a href="https://www.johnstonesupply.com/storefront/index.ep" class="btn btn-success"> Shop</a>
              </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
    </div>
  </div>
   