<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form class="container" [formGroup]="formGroup">
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <div class="from-group mb-3"  [ngClass]="{'has-error': (formGroup.get('email').touched || formGroup.get('email').dirty) && !formGroup.get('email').valid }">
                     <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text"  formControlName="email" class="form-control" placeholder="User" required>
                    <span class="help-block" *ngIf="(formGroup.get('email').touched || formGroup.get('email').dirty) && formGroup.get('email').errors">
                      <span *ngIf="formGroup.get('email').errors.required">
                        El campo email es requerido
                      </span>
                    </span>
                  </div>
                  <div class="from-group mb-4"   [ngClass]="{'has-error': (formGroup.get('password').touched || formGroup.get('password').dirty) && !formGroup.get('password').valid }">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input formControlName="password"  type="password" class="form-control" placeholder="Password" autocomplete="current-password" required>
                    <span class="help-block" *ngIf="(formGroup.get('password').touched || formGroup.get('password').dirty) && formGroup.get('password').errors">
                      <span *ngIf="formGroup.get('password').errors.required">
                        El campo password es requerido
                      </span>
                    </span>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="button" class="btn btn-primary px-4" (click)="loguearse()"
                      [disabled]="!formGroup.valid">Login</button>
                    </div>
      
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>AC VIDAL LLC</h2>
                <p>

                </p>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

